@import './reset.css';
@import './theme.css';

:root {
  --sans-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'Georgia', 'Times New Roman', 'Times', serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

html {
  background: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}
body {
  min-width: 420px;
  max-width: 700px;
  margin: 0 auto;
  font: 1.1rem var(--sans-font);
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

:root {
  --md-focus-ring-color: var(--md-sys-color-primary);
}

.surface {
  position: relative;
  --md-elevation-level: 1;
}

.surface,
.settings-container {
  border-radius: 1.7rem;
}

.settings-container {
  margin-top: 21px;
  background-color: var(--md-sys-color-surface-container);
  overflow: hidden;
  padding-bottom: 10px;
}

.settings__title {
  margin: 0;
  color: var(--md-sys-color-primary);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.25px;
  outline: 0;
  padding-bottom: 4px;
  padding-top: 8px;
  font-family: var(--serif-font);
}

.settings__inner {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.settings__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  align-items: center;
  min-height: 48px;
  padding-left: 20px;
  padding-right: 20px;
}

.settings__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.important-mark {
  color: #f28b82;
  margin-left: 4px;
  user-select: none;
}

select,
button {
  border-radius: 4px;
  font-size: 14px;
  margin: 0 1px 0 0;
}

select,
.input {
  outline: none;
}

.select-label {
  display: flex;
  flex-direction: column;
}
.select-label__title {
  font-size: 1rem;
  font-weight: 500;
}
.select-label__description {
  color: var(--md-sys-color-secondary);
  font-size: 0.9rem;
}
