:root {
  --button-background-color: #8ab4f8;
  --button-background-color-rgb: 138, 180, 248;
  --button-color: #202124;
}

.button {
  background-color: transparent;
  align-items: center;
  border: 1px solid #5f6368;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--button-background-color);
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  min-width: 5.14em;
  outline-width: 0;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0, rgba(0, 0, 0, 0.15) 0 2px 6px 2px;
}

.button:hover {
  background-color: rgba(var(--button-background-color-rgb), 0.1333);
}

.button {
  outline: 2px solid transparent;
  transition: background-color 87ms ease-in-out;
}

.button:focus {
  outline-color: var(--md-select-focus-shadow-color);
}

.button.primary {
  background-color: var(--button-background-color);
  border: none;
  color: var(--button-color);
}
.button.primary:hover {
  background-color: rgba(var(--button-background-color-rgb), 0.9);
}
.button.primary:active {
  background-color: rgba(var(--button-background-color-rgb), 0.8);
}
